
/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 44px;
}

#home::before{
    height: 2800px;
}

#home p{
    font-size: 13px;
}

/* Services section */
#services{
    /* flex-direction: column; */
}

#Services.box{

}

/* Client section  */
#clients{
    overflow: hidden;
}
/* Contact us section */

/* Footer  */
